#pagehistory li.sr-revert-high,
.mw-contributions-list li.sr-revert-high,
.mw-changeslist li.sr-revert-high,
.mw-changeslist tr.sr-revert-high {
    background: #f4908a;
}
#pagehistory li.sr-revert-medium,
.mw-contributions-list li.sr-revert-medium,
.mw-changeslist li.sr-revert-medium,
.mw-changeslist tr.sr-revert-medium {
    background: #ffbe99;
}
#pagehistory li.sr-revert-low,
.mw-contributions-list li.sr-revert-low,
.mw-changeslist li.sr-revert-low,
.mw-changeslist tr.sr-revert-low {
    background: #ffe099;
}
